Hypothesis
H: What is the relationship between SAT scores (total) and participation over the 3 years (2017â€“2019)?

In [289]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [291]:
sat_2017 = pd.read_csv('./data/project 1/sat_2017.csv')
sat_2018 = pd.read_csv('./data/project 1/sat_2018.csv')
sat_2019 = pd.read_csv('./data/project 1/sat_2019.csv')

In [293]:
#Show the head of the DataFrame named 'sat_2017'.
sat_2017.head ()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            5%                                 593   572   1165
1      Alaska           38%                                 547   533   1080
2     Arizona           30%                                 563   553   1116
3    Arkansas            3%                                 614   594   1208
4  California           53%                                 531   524   1055

In [295]:
#Show the head of the DataFrame named 'sat_2018'.
sat_2018.head()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            6%                                 595   571   1166
1      Alaska           43%                                 562   544   1106
2     Arizona           29%                                 577   572   1149
3    Arkansas            5%                                 592   576   1169
4  California           60%                                 540   536   1076

In [297]:
#Show the head of the DataFrame named 'sat_2019'.
sat_2019.head()

        State Participation Rate  EBRW  Math  Total
0     Alabama                 7%   583   560   1143
1      Alaska                41%   556   541   1097
2     Arizona                31%   569   565   1134
3    Arkansas                 6%   582   559   1141
4  California                63%   534   531   1065

In [299]:
# After showing the head of the DataFrame named 'sat_2017-2019', 
# notice that the head of the DataFrame named 'sat_2019' is clear. 
# However, change the DataFrame's head column to ['State', 'Participation', 'EBRW', 'Math', 'Total'] 
# to make it consistent among the three.
sat_2019=sat_2019.rename(columns={"Participation Rate": "Participation", "Evidence-Based Reading and Writing":'EBRW'})
sat_2018=sat_2018.rename(columns={"Participation Rate": "Participation", "Evidence-Based Reading and Writing":'EBRW'})
sat_2017=sat_2017.rename(columns={"Participation Rate": "Participation", "Evidence-Based Reading and Writing":'EBRW'})
sat_2017.head(), sat_2018.head(), sat_2019.head()

(        State Participation  EBRW  Math  Total
 0     Alabama            5%   593   572   1165
 1      Alaska           38%   547   533   1080
 2     Arizona           30%   563   553   1116
 3    Arkansas            3%   614   594   1208
 4  California           53%   531   524   1055,
         State Participation  EBRW  Math  Total
 0     Alabama            6%   595   571   1166
 1      Alaska           43%   562   544   1106
 2     Arizona           29%   577   572   1149
 3    Arkansas            5%   592   576   1169
 4  California           60%   540   536   1076,
         State Participation  EBRW  Math  Total
 0     Alabama            7%   583   560   1143
 1      Alaska           41%   556   541   1097
 2     Arizona           31%   569   565   1134
 3    Arkansas            6%   582   559   1141
 4  California           63%   534   531   1065)

In [301]:
#Convert the header of the DataFrame to a string with all characters in lowercase.
sat_2017.columns = [x.lower() for x in sat_2017.columns]
sat_2018.columns = [x.lower() for x in sat_2018.columns]
sat_2019.columns = [x.lower() for x in sat_2019.columns]

In [303]:
#Search for a DataFrame object where all the values are replaced with a Boolean value: True for NULL values and False otherwise. 
#If there are NULL values in the DataFrame, sum them.
missing_2017 = sat_2017.isnull().sum()
missing_2017

state            0
participation    0
ebrw             0
math             0
total            0
dtype: int64

In [305]:
missing_2018 = sat_2018.isnull().sum()
missing_2018

state            0
participation    0
ebrw             0
math             0
total            0
dtype: int64

In [307]:
missing_2019 = sat_2019.isnull().sum()
missing_2019

state            0
participation    0
ebrw             0
math             0
total            0
dtype: int64

In [309]:
#Check the NumPy array for unique values in that column.
sat_2017['participation'].unique()

array(['5%', '38%', '30%', '3%', '53%', '11%', '100%', '83%', '61%',
       '55%', '93%', '9%', '63%', '2%', '4%', '95%', '69%', '76%', '10%',
       '26%', '96%', '70%', '67%', '49%', '12%', '7%', '43%', '65%',
       '71%', '50%', '62%', '60%', '64%', '14%'], dtype=object)

In [311]:
sat_2018['participation'].unique()

array(['6%', '43%', '29%', '5%', '60%', '100%', '92%', '56%', '70%',
       '99%', '63%', '3%', '4%', '76%', '80%', '10%', '23%', '96%', '82%',
       '16%', '79%', '52%', '2%', '8%', '18%', '48%', '97%', '55%', '66%',
       '64%', '68%', '69%', '28%'], dtype=object)

In [313]:
sat_2019['participation'].unique()

array(['7%', '41%', '31%', '6%', '63%', '100%', '94%', '71%', '54%',
       '66%', '3%', '4%', '5%', '99%', '82%', '81%', '9%', '20%', '95%',
       '18%', '79%', '51%', '2%', '19%', '22%', '70%', 'â€”', '68%'],
      dtype=object)

In [315]:
#Check the DataFrame sat_2019['participation'] and notice the presence of 'â€”', which cannot be used for data analysis. Remove this data.
sat_2019=sat_2019[sat_2019['participation'] != 'â€”'].reset_index(drop=True)

In [317]:
#Show and check the DataFrame sat_2019['participation'] again.
sat_2019['participation'].unique()

array(['7%', '41%', '31%', '6%', '63%', '100%', '94%', '71%', '54%',
       '66%', '3%', '4%', '5%', '99%', '82%', '81%', '9%', '20%', '95%',
       '18%', '79%', '51%', '2%', '19%', '22%', '70%', '68%'],
      dtype=object)

In [319]:
#Create a function clean_participation to remove '%' from the DataFrame.
def clean_participation(rate):
    return float(rate.strip('%'))

In [321]:
#Use the clean_participation function and apply it to all DataFrames: [sat_2017, sat_2018, sat_2019]
sat_2017['participation'] = sat_2017['participation'].apply(clean_participation)
sat_2018['participation'] = sat_2018['participation'].apply(clean_participation)
sat_2019['participation'] = sat_2019['participation'].apply(clean_participation)

In [323]:
#Show and check the DataFrame again.
sat_2017.head(), sat_2018.head(), sat_2019.head()

(        state  participation  ebrw  math  total
 0     Alabama            5.0   593   572   1165
 1      Alaska           38.0   547   533   1080
 2     Arizona           30.0   563   553   1116
 3    Arkansas            3.0   614   594   1208
 4  California           53.0   531   524   1055,
         state  participation  ebrw  math  total
 0     Alabama            6.0   595   571   1166
 1      Alaska           43.0   562   544   1106
 2     Arizona           29.0   577   572   1149
 3    Arkansas            5.0   592   576   1169
 4  California           60.0   540   536   1076,
         state  participation  ebrw  math  total
 0     Alabama            7.0   583   560   1143
 1      Alaska           41.0   556   541   1097
 2     Arizona           31.0   569   565   1134
 3    Arkansas            6.0   582   559   1141
 4  California           63.0   534   531   1065)

In [325]:
#Check and Return DataFrame with duplicate rows removed.
sat_2017 = sat_2017.drop_duplicates()
sat_2017

                   state  participation  ebrw  math  total
0                Alabama            5.0   593   572   1165
1                 Alaska           38.0   547   533   1080
2                Arizona           30.0   563   553   1116
3               Arkansas            3.0   614   594   1208
4             California           53.0   531   524   1055
5               Colorado           11.0   606   595   1201
6            Connecticut          100.0   530   512   1041
7               Delaware          100.0   503   492    996
8   District of Columbia          100.0   482   468    950
9                Florida           83.0   520   497   1017
10               Georgia           61.0   535   515   1050
11                Hawaii           55.0   544   541   1085
12                 Idaho           93.0   513   493   1005
13              Illinois            9.0   559   556   1115
14               Indiana           63.0   542   532   1074
15                  Iowa            2.0   641   635   1275
16                Kansas            4.0   632   628   1260
17              Kentucky            4.0   631   616   1247
18             Louisiana            4.0   611   586   1198
19                 Maine           95.0   513   499   1012
20              Maryland           69.0   536    52   1060
21         Massachusetts           76.0   555   551   1107
22              Michigan          100.0   509   495   1005
23             Minnesota            3.0   644   651   1295
24           Mississippi            2.0   634   607   1242
25              Missouri            3.0   640   631   1271
26               Montana           10.0   605   591   1196
27              Nebraska            3.0   629   625   1253
28                Nevada           26.0   563   553   1116
29         New Hampshire           96.0   532   520   1052
30            New Jersey           70.0   530   526   1056
31            New Mexico           11.0   577   561   1138
32              New York           67.0   528   523   1052
33        North Carolina           49.0   546   535   1081
34          North Dakota            2.0   635   621   1256
35                  Ohio           12.0   578   570   1149
36              Oklahoma            7.0   530   517   1047
37                Oregon           43.0   560   548   1108
38          Pennsylvania           65.0   540   531   1071
39          Rhode Island           71.0   539   524   1062
40        South Carolina           50.0   543   521   1064
41          South Dakota            3.0   612   603   1216
42             Tennessee            5.0   623   604   1228
43                 Texas           62.0   513   507   1020
44                  Utah            3.0   624   614   1238
45               Vermont           60.0   562   551   1114
46              Virginia           65.0   561   541   1102
47            Washington           64.0   541   534   1075
48         West Virginia           14.0   558   528   1086
49             Wisconsin            3.0   642   649   1291
50               Wyoming            3.0   626   604   1230

In [327]:
sat_2018 = sat_2018.drop_duplicates()
sat_2018

                   state  participation  ebrw  math  total
0                Alabama            6.0   595   571   1166
1                 Alaska           43.0   562   544   1106
2                Arizona           29.0   577   572   1149
3               Arkansas            5.0   592   576   1169
4             California           60.0   540   536   1076
5               Colorado          100.0   519   506   1025
6            Connecticut          100.0   535   519   1053
7               Delaware          100.0   505   492    998
8   District of Columbia           92.0   497   480    977
9                Florida           56.0   550   549   1099
10               Georgia           70.0   542   522   1064
11                Hawaii           56.0   480   530   1010
12                 Idaho          100.0   508   493   1001
13              Illinois           99.0   513   506   1019
14               Indiana           63.0   542   532   1074
15                  Iowa            3.0   634   631   1265
16                Kansas            4.0   633   631   1265
17              Kentucky            4.0   630   618   1248
18             Louisiana            4.0   615   595   1210
19                 Maine           99.0   512   501   1013
20              Maryland           76.0   545   535   1080
21         Massachusetts           80.0   562   563   1125
22              Michigan          100.0   511   499   1011
23             Minnesota            4.0   643   655   1298
24           Mississippi            3.0   630   606   1236
25              Missouri            4.0   633   629   1262
26               Montana           10.0   606   592   1198
27              Nebraska            3.0   629   623   1252
28                Nevada           23.0   574   566   1140
29         New Hampshire           96.0   535   528   1063
30            New Jersey           82.0   547   547   1094
31            New Mexico           16.0   552   540   1093
32              New York           79.0   534   534   1068
33        North Carolina           52.0   554   543   1098
34          North Dakota            2.0   640   643   1283
35              Oklahoma            8.0   541   521   1062
36                  Ohio           18.0   552   547   1099
37                Oregon           48.0   564   553   1117
38          Pennsylvania           70.0   547   539   1086
39          Rhode Island           97.0   513   505   1018
40        South Carolina           55.0   547   523   1070
41          South Dakota            3.0   622   618   1240
42             Tennessee            6.0   624   607   1231
43                 Texas           66.0   520   512   1032
44                  Utah            4.0   480   530   1010
45               Vermont           64.0   565   554   1120
46              Virginia           68.0   567   550   1117
47            Washington           69.0   543   538   1081
48         West Virginia           28.0   513   486    999
49             Wisconsin            3.0   641   653   1294
50               Wyoming            3.0   633   625   1257

In [329]:
sat_2019 = sat_2019.drop_duplicates()
sat_2019

                   state  participation  ebrw  math  total
0                Alabama            7.0   583   560   1143
1                 Alaska           41.0   556   541   1097
2                Arizona           31.0   569   565   1134
3               Arkansas            6.0   582   559   1141
4             California           63.0   534   531   1065
5               Colorado          100.0   518   506   1024
6            Connecticut          100.0   529   516   1046
7               Delaware          100.0   499   486    985
8   District of Columbia           94.0   495   480    975
9                Florida          100.0   516   483    999
10               Georgia           71.0   538   519   1058
11                Hawaii           54.0   550   550   1100
12                 Idaho          100.0   505   488    993
13              Illinois          100.0   509   504   1013
14               Indiana           66.0   543   537   1080
15                  Iowa            3.0   622   622   1244
16                Kansas            4.0   618   623   1241
17              Kentucky            4.0   620   612   1232
18             Louisiana            5.0   610   591   1200
19                 Maine           99.0   512   502   1013
20              Maryland           82.0   535   523   1058
21         Massachusetts           81.0   559   561   1120
22              Michigan          100.0   507   496   1003
23             Minnesota            4.0   636   648   1284
24           Mississippi            3.0   628   608   1237
25              Missouri            4.0   622   615   1236
26               Montana            9.0   603   596   1199
27              Nebraska            3.0   628   631   1260
28                Nevada           20.0   580   576   1156
29         New Hampshire           95.0   533   526   1059
30            New Jersey           82.0   544   545   1090
31            New Mexico           18.0   543   530   1073
32              New York           79.0   531   533   1064
33        North Carolina           51.0   554   546   1100
34          North Dakota            2.0   627   636   1263
35                  Ohio           19.0   550   548   1097
36              Oklahoma           22.0   490   472    963
37                Oregon           51.0   562   550   1112
38          Pennsylvania           70.0   545   537   1082
39          Rhode Island          100.0   503   492    995
40        South Carolina           68.0   526   504   1030
41          South Dakota            3.0   633   635   1268
42             Tennessee            7.0   618   602   1220
43                 Texas           68.0   515   507   1022
44                  Utah            4.0   614   615   1230
45               Vermont           66.0   560   546   1106
46              Virginia           68.0   567   551   1119
47            Washington           70.0   539   535   1074
48         West Virginia           99.0   483   460    943
49             Wisconsin            3.0   635   648   1283
50               Wyoming            3.0   623   615   1238

In [343]:
#Group by the 'state' column and name the resulting DataFrames as states_2017, states_2018, and states_2019.
states_2017 = set(sat_2017['state'])
states_2018 = set(sat_2018['state'])
states_2019 = set(sat_2019['state'])

In [335]:
#Group the DataFrames using the intersection function.
consistent_states = states_2017.intersection(states_2018, states_2019)

In [345]:
#Select sat_2017['state'] within the DataFrame based on consistent_states.
sat_2017_cleaned = sat_2017[sat_2017['state'].isin(consistent_states)]
sat_2018_cleaned = sat_2018[sat_2018['state'].isin(consistent_states)]
sat_2019_cleaned = sat_2019[sat_2019['state'].isin(consistent_states)]

In [371]:
#Count the unique values in sat_2017['state'].
sat_2017_cleaned['state'].nunique()

51

In [367]:
sat_2018_cleaned['state'].nunique()

51

In [369]:
sat_2019_cleaned['state'].nunique()

51